{#
/**
 * @file site_type_datas.html.twig
 * Default theme implementation to present Site type datas data.
 *
 * This template is used when viewing Site type datas pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_site_type_datas()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('site_type_datas') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
